//
//  Base.xcconfig
//  SmartWallet
//
//  Created by Fred on 08/09/2020.
//  Copyright © 2020 Frederic DE MATOS. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


RPC_URL=https:\/\/eth-mainnet.alchemyapi.io\/v2\/yKy-FkvOSlIgp9W8_mCxhW-HEdISZ7-Y
ETHERSCAN_APIKEY=HCYC8QMVAN8M5RSMKWT7FFGG2KTU1N3IVG


DEPLOY_GNOSIS_URL=https:\/\/europe-west1-rockside-showcase.cloudfunctions.net/test-deploy-gnosis
RELAY_PARAMS_URL=https:\/\/europe-west1-rockside-showcase.cloudfunctions.net\/moonkey-params
TX_INFOS_URL=https:\/\/europe-west1-rockside-showcase.cloudfunctions.net\/moonkey-tx-infos
RELAY_URL=https:\/\/europe-west1-rockside-showcase.cloudfunctions.net\/moonkey-tx-relay-message-data

